:root{
    --bg_color: rgb(39, 39, 39);
    --txt_color: rgb(197, 197, 197);
    --bx_shadow: 4px 4px 8px black;
    --bx_shadow_hover: 0px 0px 0px black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 300ms;
}
body{
    background-color: var(--bg_color);
    color: var(--txt_color);
    display: flex;
        justify-content: center;
        align-items: center;
    height: 100vh;
}
.projet_oxo{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 200px;
}
.box{
    background-color: rgb(128, 128, 128, 0.5);
    backdrop-filter: blur(10px);
    padding: 10px 40px;
    border-radius: 20px;
    box-shadow: var(--bx_shadow);
}
h1,.message{
    margin: 20px 0;
    color: black;
}
.message{
    font-size: 2em;
}
.score{
    font-size: 1.6em;
    padding: 15px 0;
    text-shadow: var(--bx_shadow);
}
.board{
    margin: 0 60px;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 15px;
}
.board div{
    background-color: rgb(72, 71, 71);
    border: solid 3px var(--txt_color);
    display: flex;
        justify-content: center;
        align-items: center;
    font-size: 100px;
    text-shadow: var(--bx_shadow);
    cursor: pointer;
}
.board div:hover{
    background-color: black;
}
.restart{
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: 800;
    box-shadow: var(--bx_shadow);
    cursor: pointer;
}
.restart:hover{
    box-shadow: var(--bx_shadow_hover);
    background-color: var(--bg_color);
    color: var(--txt_color);
}

img{
    position: absolute;
    z-index: 10;
    max-width: 300px;
}
.mainImg{
    width: 200px;
    right: 20px;
    bottom: 0;
}
.winImg{
    top: 30%;
    left: 32%;
}
.equalImg{
    top: 36%;
    left: 34%;
}