*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(130deg, rgba(2,0,36,1) 8%, rgba(9,9,121,1) 48%, rgb(111, 0, 126) 90%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
        justify-content: center;
        align-items: center;
}
form{
    border: solid 1px grey;
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
    padding: 20px 50px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.5);
}
form label{
    color: rgb(212, 212, 212);
}
form input{
    outline: none;
}
form input,
form button{
    padding: 5px;
    border-radius: 5px;
}
.display_none{
    display: none;
}
.msg{
    color: 'red';
}
