*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    transition: 400ms;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    color: white;
}

